@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 60 100% 50%;
    --foreground: 0 0% 0%;

    --card: 60 100% 50%;
    --card-foreground: 0 0% 0%;
 
    --popover: 60 100% 50%;
    --popover-foreground: 0 0% 0%;
 
    --primary: 60 100% 50%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 60 100% 60%;
    --secondary-foreground: 0 0% 0%;
 
    --muted: 60 100% 40%;
    --muted-foreground: 0 0% 0%;
 
    --accent: 60 100% 60%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 60 100% 40%;
    --input: 60 100% 40%;
    --ring: 60 100% 50%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 60 100% 30%;
    --foreground: 0 0% 100%;
 
    --card: 60 100% 30%;
    --card-foreground: 0 0% 100%;
 
    --popover: 60 100% 30%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 60 100% 50%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 60 100% 40%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 60 100% 20%;
    --muted-foreground: 0 0% 80%;
 
    --accent: 60 100% 40%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 60 100% 20%;
    --input: 60 100% 20%;
    --ring: 60 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}